<div class="container">
 <div class="jumbotron">
<form #frm="ngForm" (ngSubmit)="addUser(frm)">
  
  <div class="form-group">
    <label for="name">
      Name:
    </label>
    <input
    type="text"
    class="form-control"
    name="text" 
    ngModel
    #nameUser="ngModel"
    required

    >
  </div>
  <div *ngIf="nameUser?.touched"class="alert alert-danger">
    <div *ngIf="nameUser.errors?.required">
  Name is required
</div>
  </div>

  <div class="form-group">
    <label for="contact">
      Contact:
    </label>
    <input
    type="text"
    class="form-control"
    name="contact" 
    ngModel
    #contactUser="ngModel"
    required
 
    >
  </div>
  <div *ngIf="contactUser?.touched"class="alert alert-danger">
      <div *ngIf="contactUser.errors?.required">
    Contact is required
  </div>
    </div>

  <div class="form-group">
    <label for="email">
      Email:
    </label>
    <input
    type="text"
    class="form-control"
    name="email" 
    ngModel
    #emailUser="ngModel"
    required
   
    >
  </div>
  <div *ngIf="emailUser?.touched"class="alert alert-danger">
      <div *ngIf="emailUser.errors?.required">
    Email is required
  </div>
    </div>

<button type="submit" name="button" class="btn btn-success" [disabled]="frm.invalid">Add User</button>

</form>

{{frm.value | json}}

</div>
</div>

<ul class="list-group">
<li *ngFor="let user of userList" class="list-group-item"></li>
{{user?.name}}
</ul>