<h1>DIRECTIVES</h1>

<button type="button" (click)="toggleHero()" name="button">toggle heroes</button>

<div class="" *ngIf="toggleHeroFlag">
  <div class="" *ngFor="let hero of dcHeroes; let i=index" (click)="selectHero(hero)" appAppBold>
   {{i+1}}){{hero}}
   </div>
</div>


<div [ngSwitch]="selectedHeroes" [ngStyle]="myStyle">

    <div *ngSwitchDefault>None of the Heroes has been selected</div> 
 
 </div>
 <button type="button" (click)="setStyle()" name="button">change style</button>

 <h2 [ngClass]="currentCSSClass">Change CSS Class Dynamically</h2>
 <button type="button" (click)="setCSSClass()" name="button">Change CSS CLass</button>

 <h2 [style.color]="inputColor">Change Text Color using NgModel</h2>
 <input type="text" [(ngModel)]="inputColor" name="" value="">
