<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
  I am Title
  </h1>
  <hr><br>
  <app-first></app-first>
   <app-directive-example></app-directive-example>

   <div class="">
     <div class="row">
       <div class="col-md-4">
         <img src="../assets/learn.jpg" alt="image not found">
       </div>
       <div class="col-md-8">
         <h1 style.color="#1B5196" class="text-primary">Angular Tutorial: Routing</h1>
       </div>
     </div>
   
   <hr>
  
<div class="container">
  <div class="row">
    <ul class="nav nav-pills">
      <li routerLinkActive="active" [routerLinkActiveOptions] ="{exact:true}"><a routerLink="/">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/blog">Blog</a></li>
      <li routerLinkActive="active"><a routerLink="/about">About</a></li>
    </ul>
  </div>
</div>
<div class="">
 <h2>Place for Components</h2>
 <router-outlet></router-outlet>
</div>

<hr>

<div class="">
  <div class="row">
    <div class="col-md-4">
      <img src="../assets/learn.jpg" alt="image not found">
    </div>
    <div class="col-md-8">
      <h1 style.color="#1B5196" class="text-primary">Angular Tutorial: Forms</h1>
    </div>
  </div>
  <app-template-driven></app-template-driven>

  <hr>
  <h1>Reactive Forms</h1>

  <hr>
  <h1>Services Tutorial</h1>
  <app-list></app-list>