<form #frm = "ngForm" (ngSubmit)="addNewItem(frm)">
  <div>
    <input type="text" name="itemName" ngModel>
    <button type="submit" name="button" class btn btn-success>ADD</button>
  </div>
  {{frm.value.itemName | json}}
</form>

<button type="button" name="button" (click)="getItemsFromServicesClass()" class="btn btn-primary">Show List</button>

<ul>
  <li *ngFor="let item of itemsReceived" class="list-group-item">
    {{item}}
  </li>
</ul>
