<form novalidate [FormGroup]="form" (ngSubmit)="addUser(form)">
  <div class="form-group">

    <label for="name">
  Name:
</label>
<input
type="text"
class="form-control"
formControlName="name" >
  </div>

  <div class="form-group">
      <label for="contact">
        Contact:
      </label>
      <input
      type="text"
      
      class="form-control"
      formControlName="contact">
        </div>

        <div class="form-group">
            <label for="email">
              Email:
            </label>
            <input
            type="text"
            class="form-control"
            formControlName="email">
              </div>
          <button type="submit" name="button">Add User</button>
</form>