<ul class="list-group">
  <li class="list-group-item">{{GOTCharacter[0]}}</li>
  <li class="list-group-item">{{GOTCharacter[1]}}</li>
  <li class="list-group-item">{{GOTCharacter[2]}}</li>
  <li class="list-group-item">{{GOTCharacter[3]}}</li>
</ul>
<button type="button" class="btn btn-primary" (click)="SwitchFIrstAndLastName()" name="button">SwitchNames</button>
<button type="button" class="btn btn-danger" [disabled]='stopSwitchStatus' (click)="StopSwitch()" name="button">StopSwitch</button>
<hr>
<div>
<input type="text" [(ngModel)]="twoWayData" [value]="twoWayData" name="">
{{twoWayData}}
</div>