<h1>Interpolation Example</h1>
<h2>{{interpolation}}</h2>
<h3>1+1={{1+1}}</h3>
{{returnString()}}
<hr>
<h1>Property Binding Example</h1>
<img [src]="imageBinding" alt="image not found">
<hr>
<h1>EVENT BINDING Example</h1>
<button type="button" name="button" (click)="changeValue()">change value of I love Interpolation</button>
<hr>
<app-gotcharacter></app-gotcharacter>
